__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env
*.log
*.tmp
*.swp
.DS_Store
.ipynb_checkpoints
.vscode/
.idea/
*.egg-info/
dist/
build/
*.bak
*.~*
*.sqlite3
*.db
*.tar.gz
*.zip
*.egg
*.coverage
.cache/

checkpoint*
data/*